.contactInfoWrapper {
  width: 100%;
  padding: 64px 24px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 24px;
  background-color: var(--color1);
  color: var(--color3);
  border-radius: 8px;
}

.contactItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media screen and (min-width: 1024px) {
  .contactInfoWrapper {
    width: 60%;
  }
}
