.contactInfoField {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
}
.contactInfoField input {
  width: 100%;
  padding: 12px 16px;
}
.contactInfoField input:focus {
  outline: none;
}
