.card {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 6px;
  padding: 12px;
}

.image {
  width: 100%;
  min-height: 235px;
  object-fit: cover;
}

.cardText {
  padding: 16px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.cardTopText p {
  margin-top: 14px;
}
.buyBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
