.searchInput {
  color: inherit;
  background-color: inherit;
  font-size: large;
  padding: 6px 18px;
  width: 100%;
  border: 1px solid var(--color4);
  border-radius: 50px;
}
.searchInput:focus {
  outline: none;
}
