.formFieldsWrapper {
  width: 100%;
  padding: 32px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.name_email {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.subject_message {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.inputField {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
}

.inputField label {
  font-weight: bold;
}

.inputField input,
.inputField textarea {
  width: 100%;
  background-color: inherit;
  border: 1px solid var(--color4);
  color: inherit;
  padding: 14px 18px;
  font-size: 16px;
}
.inputField input:focus,
.inputField textarea:focus {
  outline: none;
}

.inputField i {
  width: 100%;
  text-align: right;
}

@media screen and (min-width: 420px) {
  .name_email {
    flex-direction: row;
  }
}
