.navigation {
  display: none;
}

@media screen and (min-width: 375px) {
  .navigation {
    display: block;
    height: inherit;
  }
  .navigation ul {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .navigation ul li {
    cursor: pointer;
  }
}
