.navigation {
  display: none;
}
.activeNav {
  cursor: pointer;
  border-bottom: 2px solid white;
}

@media screen and (min-width: 420px) {
  .navigation {
    display: block;
    height: inherit;
  }
  .navigation ul {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .navigation ul li {
    transition: all 0.2s ease-in-out;
  }
  .navItem {
    cursor: pointer;
    border-bottom: 2px solid transparent;
  }
}
