.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 56px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  padding: 20px;
  text-wrap: nowrap;
}
.userDataContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 16px;
  column-gap: 46px;
}

.heading {
  width: 100%;
  font-size: 24px;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 32px;
  }
  .userDataContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
