.app {
  width: 100%;
  max-width: var(--max-w);
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: black;
  background-color: white;
}

.content {
  flex: 1;
  width: 100%;
  padding: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
}
